requests
pandas
matplotlib
attrs                     
beautifulsoup4             
certifi                    
cffi                       
charset-normalizer         
chromedriver-autoinstaller 
contourpy                  
cycler                     
fonttools                  
h11                        
haversine                 
idna                       
kiwisolver                 
matplotlib                 
numpy                      
outcome                    
packaging                  
pandas                     
pillow                     
pip                        
pycparser                  
pyparsing                  
PySocks                    
python-dateutil           
python-dotenv              
pytz                       
requests                   
seaborn                    
selenium                  
six                        
sniffio                    
sortedcontainers           
soupsieve                  
trio                       
trio-websocket             
typing_extensions         
tzdata
urllib3
webdriver-manager
websocket-client
wsproto